<div  class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ movie.image_url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ movie.name }}</h5>
      <p class="card-text">{{ movie.director }}</p>
      <p class="card-text">{{ movie.duration }}</p>
      <p class="card-text">{{ movie.release_date }}</p>
      <p class="card-text">{{ movie.genres }}</p>
      <div *ngIf="!selected && !isSelected">
      <button (click)="select(true)" (click)="selected=true" class="btn btn-primary">Select</button>
      </div>
      <div *ngIf="isSelected">
        <button class="btn btn-primary" (click)="goBackToMovies()" >Go back</button>
      </div>
    </div>
  </div>

