<nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand" routerLink="/movies">Movies</a> 
            <a class="navbar-brand" routerLink="/add">Add movie</a>
            <a class="navbar-brand"  *ngIf="!auth.isAuthenticated" routerLink="/login">Login</a> 
            <a class="navbar-brand" *ngIf="auth.isAuthenticated" (click)="auth.logout()">Logout</a> 
            <a class="navbar-brand" *ngIf="!auth.isAuthenticated" routerLink="/register">Register</a> 
<app-search *ngIf="auth.isAuthenticated"></app-search>
</nav>

<div class = "container">
<router-outlet></router-outlet>
</div>