<div class="container">
<form #movieForm="ngForm" (ngSubmit)="submitMovie(movie); movieForm.reset()">
    <div class="form-group">
      <label>Name</label>
      <input #name="ngModel" [(ngModel)]="movie.name" name='name' type="text" class="form-control" required>  
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
       class="alert alert-danger">
        <div *ngIf="name.errors.required">
           Name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
        <label>Director</label>
        <input #director="ngModel" [(ngModel)]="movie.director" name='director' type="text" class="form-control" required>  
        <div *ngIf="director.invalid && (director.dirty || director.touched)"
         class="alert alert-danger">
          <div *ngIf="director.errors.required">
            Director is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Image</label>
        <input #image_url="ngModel" [(ngModel)]="movie.image_url" name='image_url' type="text" class="form-control" required>  
        <div *ngIf="image_url.invalid && (image_url.dirty || image_url.touched)"
         class="alert alert-danger">
          <div *ngIf="image_url.errors.required">
            Image is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Duration</label>
        <input #duration="ngModel" [(ngModel)]="movie.duration" name='duration' type="text" class="form-control" required>  
        <div *ngIf="duration.invalid && (duration.dirty || duration.touched)"
         class="alert alert-danger">
          <div *ngIf="duration.errors.required">
           Duration is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Release date</label>
        <input #release_date="ngModel" [(ngModel)]="movie.release_date" name='release_date' type="text" class="form-control" required>  
        <div *ngIf="release_date.invalid && (release_date.dirty || release_date.touched)"
         class="alert alert-danger">
          <div *ngIf="release_date.errors.required">
           Release date is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Genres</label>
        <input #genres="ngModel" [(ngModel)]="movie.genres" name='genres' type="text" class="form-control" required>  
        <div *ngIf="genres.invalid && (genres.dirty || genres.touched)"
         class="alert alert-danger">
          <div *ngIf="genres.errors.required">
           Genres is required.
          </div>
        </div>
      </div>

      <div class="input-group col-md-5 pl-0 my-lg-4 my-2">
        <button [disabled]="!movieForm.valid" type="submit" class="btn btn-primary mr-2">Add movie</button>      
    </div>
</form>
</div>
